@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
/********** Primary **********/

  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);

/********** Neutral **********/

  --dark-grayish-red: hsl(0, 6%, 24%);

/********** Gradients **********/

  --gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  --gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
  color: var(--desaturated-red);
}

header {
  height: 100px;
  padding: 2em;
}

header > img {
  object-fit: contain;
  height: 100%;
  width: 120px;
  vertical-align: middle;
}

.cover {
  background: url('images/hero-mobile.jpg') no-repeat center;
  background-size: cover;
  height: 330px;
  width: 100%;
}

main {
  padding: 5em 2.2em;
  text-align: center;
}

.black {
  color: initial;
  font-weight: 400;
}

main > h1 {
  font-weight: 300;
  font-size: 3.25rem;
  letter-spacing: .75rem;
  line-height: 1.1;
  margin-bottom: .5em;
}

main > p {
  letter-spacing: 1px;
  line-height: 1.75;
  margin-bottom: 3em;
}

::placeholder {
  color: var(--desaturated-red);
}

form {
  --height: 58px;
  max-width: 400px;
  margin: auto;
  position: relative;
  padding-right: 3em;
  text-align: initial;
  display: flex;
}

main input[type="email"] {
  border-radius: 5em;
  border: 1px solid var(--desaturated-red);
  padding: 1.5em 2em;
  width: 100%;
}

main input[type="email"].not-valid {
  outline: 2px solid red;
}

main input[type="submit"] {
  cursor: pointer;
  border-radius: 5em;
  background: var(--gradient-2), url('images/icon-arrow.svg') center/1em no-repeat;
  background-blend-mode: color;
  border: none;
  width: 100px;
  height: var(--height);
  color: white; 
  float: right;
  position: absolute;
  right: 0;
  transition: filter .2s;
}

main input[type="submit"]:hover {
  filter: drop-shadow(0 12px 8px var(--desaturated-red)) brightness(1.2);
}

#errorMsg {
  display: none;
  position: absolute;
  top: 4.5em;
  left: 1.7em;
}

#errorIcon {
  display: none;
  background: url('images/icon-error.svg') no-repeat center;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
  top: calc(var(--height) / 2 - 10px);
  left: 67%; 
}

@media screen and (min-width: 800px) {
  body {
    background: url('images/bg-pattern-desktop.svg');
  }

  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    height: 700px;
    width: 100%;
    margin: auto;
    padding-left: 8em;
  }

  .header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: initial;
    padding-right: 8em;
  }

  .cover {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    background: url('images/hero-desktop.jpg') no-repeat center;
    background-size: cover;
    width: 100%;
    height: initial;
  }
}

a {
  text-decoration: none;
}
